@model EmployeeManagement.Model.Employee

<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Details</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>@model.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@model.Name</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@model.Department</td>
        </tr>
    </table>
</body>
</html>